<h1>Welcome to the Jitter Homepage </h1>

<p>Use a specific URL to get to the features you are looking for. This is the best app you have ever used.</p>

    <a href="/jits"><button type="button" class="btn btn-success"> Go to the Jits</button></a>

