<p style="color: green"><%= notice %></p>

<h1>Jeets</h1>

<div id="jeets">
  <% @jeets.each do |jeet| %>
    <%= render jeet %>
    <p>
      <%= link_to "Show this jeet", jeet %>
    </p>
  <% end %>
</div>

<%= link_to "New jeet", new_jeet_path %>
